<%- include("../include/head.ejs") %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include("../include/navigation.ejs") %>
    <main>
        <h1>NOthing</h1>
    </main>
    <%- include("../include/end.ejs") %>